update-memo-popover {
  .titleCss {
    font-size: 18px;
    font-weight: bold;
  }
  .inputRow {
    padding: 15px 20px 0;
    div {
      line-height: 40px;
    }
  }
  .fineThread {
    margin-top: 15px;
  }
}
