agent-popover {
    .grid {
        padding: 15px 15px 0px;
    }

    .titleCss {
        font-size: 18px;
        font-weight: bold;
    }

    .inputRow {
        padding: 15px 20px 0;
        div {
            line-height: 40px;
            
        }
    }

    .input {
        border: 1px solid #888;
        padding-left: 7px;
    }

    .fineThread {
        margin-top: 15px;
    }
}
