page-carowner-popover {
    ion-grid{
        align-items: center;
    }
    .titleCss{
        line-height: 68px;
        color: #252D3B;
        font-size: 16px;
        font-weight: 700;
    }
    .explain{
        font-size: 11px;
        color: #767E8E;
        margin-bottom: 20px;
        margin-top: 0;
    }
    ion-list{
        width: 250px;
        ion-item,.item-inner{
            border: 0 !important;
        }
        ion-item{
            background: #F2F4F8 !important;
            min-height: auto !important;
            line-height: 36px;
            height: 36px;
            ion-label{
                font-size: 14px;
                color: #252D3B;
                margin: 0;
            }
        }
        ion-item:first-child{
            margin-bottom: 5px;
        }
        ion-item.item-radio-checked{
            ion-label{
                color: #252D3B !important;
            }
        }
        ion-radio{
            .radio-icon{
                background: #FFF;
                border-radius: 50%;
                border: 1px solid #DFE3E9;
                width: 18px !important;
                height: 18px !important;
            }
            .radio-icon.radio-checked{
                background: #266DEC;
                .radio-inner{
                    border-color: #fff;
                    top: 1px;
                }
            }
        }
    }
    ion-row{    
        width: 100%;
        padding: 11px 0;
        border-top: 0.55px solid #DFE3E9;
        margin-top: 26px;
        ion-col{
            button{
                line-height: 30px;
                width: 100%; 
                background: transparent;
                font-size: 16px;
            }
            
        }
        ion-col:first-child{
            border-right: 0.55px solid #DFE3E9;
            button{
                color: #A4A9B2;
            }
        }
        ion-col:last-child{
            button{
                color: #FFB606;
            }
        }
    }
}
