page-record-edit {
    .course_tabBox {
        display: inline-block;
        width: 33.3%;
        background: none;
        position: relative;
        line-height: 42px;
        text-align: center;
        .course_tab {
            padding: 5px 0;
            color: #7092d9;
            font-size: 17px;
        }
    }
    .tabActive {
        color: #fff !important;
        border-bottom: 1px solid #fff;
    }
    .inp {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .item-ios.item-block .item-inner {
            border-bottom: none;
            padding-right: 0;
        }
        .text-input {
            border: 0.55px solid#e7ecf2;
            border-radius: 5px;
            height: 30px;
            background-color: #edf1f6;
            font-size: 13px;
            padding-left: 10px;
        }
        .button-ios {
            border-radius: 4px;
            height: 30px;
            font-size: 13px;
            color: #fff;
            background-color: #266dec;
            margin-right: 10px;
            padding: 0 1em;
        }
    }
    .las {
        ion-label {
            font-size: 1.4rem;
        }
        ion-col {
            p {
                text-align: center;
            }
        }
        ion-col:nth-child(3n) {
            border-right: 0px;
        }
        .button {
            border-radius: 6px;
            border: 0.55px solid #ccc;
            width: 100%;
            background-color: #fff;
            margin-top: -8px;
            color: #000;
            font-size: 13px;
            height: 32px;
        }
        .row {
            margin-top: 10px;
        }
        .list-ios {
            margin: 0;
        }
        .list-ios>.item-block:first-child {
            border-top: none !important;
        }
        .list-ios>.item-block:last-child,
        .list-ios>.item-wrapper:last-child .item-block {
            border-bottom: none !important;
        }
        .item-ios.item-block .item-inner {
            padding-right: 3px;
            border-bottom: none !important;
        }
        .label-ios {
            margin: 5px 0px 0px 0;
        }
        .item-ios {
            padding-left: 3px;
            background-color: #fff;
        }
    }
}