<ion-header>
  <ion-navbar>
    <ion-title>
      开立会员卡
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list class="row-distance mamberInfo" no-line>
    <ion-item>
      <ion-row>
        <ion-col>
          手机号
        </ion-col>
        <ion-col text-right class="inputType">
          <input #mobileNumber type="phone" text-right placeholder="请输入手机号码" [(ngModel)]="memberInfo.mobileNumber" (ngModelChange)="changeMobileNumber()">
          <!-- <ion-input placeholder="请输入正确的手机号码" type="phone" (ionBlur)="mobileNumberBlurInput()" [(ngModel)]="customer.mobileNumber"
          [disabled]="!isNullmobileNumber" (ngModelChange)="changeMobileNumber(customer.mobileNumber)"></ion-input> -->
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          姓名
        </ion-col>
        <ion-col text-right class="inputType">
          <input type="text" text-right placeholder="请输入姓名" [disabled]="memberInfo.memberId.toString().length != 0" [(ngModel)]="memberInfo.memberName">
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row class="colSelect" *ngIf="memberInfo.memberId">
      <div class="colName">
        车 辆
      </div>
      <ion-col>
        <ion-select [(ngModel)]="selectCar" interface="action-sheet" okText="确定" cancelText="取消" (ngModelChange)="plateNumberChange()">
          <ion-option *ngFor="let auto of memberInfo.autos;" [value]="auto">{{auto.plateNumber}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="isNewCar">
      <ion-row>
        <ion-col>
          车牌
        </ion-col>
        <ion-col text-right class="carNum">
          <button ion-button icon-right color="dark" clear (click)="showProvince()">
            {{carInfo.provinces}}
            <ion-icon name="ios-arrow-down"></ion-icon>
          </button>
          <input type="text" placeholder="请输入车牌号码" [(ngModel)]="carInfo.plateNB" [disabled]="carInfo.plateNB=='无牌'" (ngModelChange)="changePlateNumber()">
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="isNewCar">
      <ion-row>
        <div style="padding: 5px;">
          车型
        </div>
        <ion-col text-right class="selectType">
          <button ion-button color="dark" clear (click)="selectCarType()">
            {{carInfo.autoType}}
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list class="salecardList" radio-group [(ngModel)]="selectSalecard">
    <ion-item *ngFor="let s of salecardList">
      <ion-label>
        <ion-row>
          <img class="mcardImg" src="{{img_path}}{{s?.imageUrl}}">
          <ion-col>
            <div class="mcardName">{{s.mcardName}}</div>
            <div class="mcardBalance">卡内金额{{s.mcardBalance}} (有效期:
              <span *ngIf="s.validityMonth == 0">长期</span>
              <span *ngIf="s.validityMonth > 0">{{s.validityMonth}}个月</span>)</div>
            <div class="mcardPrice">￥{{s.mcardPrice}}</div>
          </ion-col>
        </ion-row>
      </ion-label>
      <ion-radio [value]="s"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="certain">
  <button ion-button color="secondary" (click)="certain()">确定</button>
</ion-footer>