<ion-header>
  <ion-navbar>
      <ion-row>
        <div style="padding: 5px;">
          优惠卷
        </div>
        <ion-col text-right class="selectType">
          <button ion-button color="dark" clear (click)="close()">
            <ion-icon name="ios-close-circle-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <div style=" display:flex;flex-direction:column;align-items:center;margin-top:10px">
    <div *ngIf="!coupon">
      <img src="assets/imgs/car_03.gif">
      <p>暂无优惠卷</p>
    </div>
    <div class="yhj" *ngFor="let item of coupon" (click)="select(item)">
      <div class="lf">
        <div>
          <p style="color:black;font-weight: bold;font-size: larger">{{item.name}}</p>
        </div>
        <div style="color:darkgray;font-size:xx-small;margin-bottom: 10px">
          <span style="display:block;margin-bottom: 7px">{{item.area}}</span>
          <span>有效期至：{{item.data}}</span>
        </div>
      </div>
      <img style="left:50%;width:80px;height:80px;position: absolute" src="assets/imgs/gq.png" alt="">
      <div class="rf">
        <img src="assets/imgs/line_03.gif" alt="">
        <div style="display:inline-flex;flex-direction: column;align-items: center;justify-content: center;width: 70px">
          <span style="display:block;color: #578cef;font-size: 20px">{{item.balance}}元</span>
          <span style="display:block;color:darkgray;font-size:xx-small;margin-top:5px">{{item.describe}}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>