sub-title {
    &>div{
        width: 100%;
        background: #F7F9FA;
    }
    .row{
        line-height: 40px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 0 !important;
        padding: 0 40px !important;
        .col{
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            padding: 0;
        }
        .col:nth-child(2){
            text-align: center;
        }
        .col:nth-child(1),.col:nth-child(3){
            padding-left: 5px;
            padding-right: 5px;
            hr{
                border-width: 1px;
                box-sizing: content-box;
                height: 0;
            }
        }
    }
}
